<launch>
	<include file="$(find limo_bringup)/launch/limo_start.launch"/>

	<include file="/home/agilex/limo_ws/src/ros_astra_camera/launch/dabai_u3.launch"/>

	<node pkg="limo_legend" type="lane_detect.py" name="lane_detect" output="screen" respawn="true">
		<param name="image_topic_name" value="/camera/rgb/image_raw/compressed"/>
		<param name="visualization" value="True"/>
	</node>

	<node pkg="limo_legend" type="control.py" name="control" output="screen">
		<param name="control_topic_name" value="/cmd_vel"/>
	</node>

	<node pkg="limo_legend" type="lidar_stop.py" name="lidar_stop" output="log"/>
	
</launch>
